@charset "UTF-8";

#seatPlanDiv table td{
	padding:12px;
}

#seatPlanDiv label{
	width:40px;
	height:40px;
}

#seatPlanDiv div#stageArea{
	text-align:center;
	width:40%;
	height:30px;
	color:white;
	background-color:#474747;
	border-radius:20px;
	margin: 10px 0px 40px 170px;
	font-size:17px;
}

#seatPlanDiv table#seatAreaA{
	position:absolute;
	top:120px;
	left:100px;
}

#seatPlanDiv table#seatAreaB{
	position:absolute;
	top:120px;
	left:350px;
}


