@charset "UTF-8";

/* 어사이드(aside) */

/* 어사이드 전체영역 설정 */
#aside {margin: 50px 0px 0px 0px; float: center;
		border-radius:0px; margin-bottom:0px;
		background-color: #FFFFFF; cursor:default; }

/* 어사이드 제목 (왼쪽메뉴 파란 네모) */
#aside h2 {margin: 0px 0px 50px 0px; padding: 20px 0px 0px 0px;  
			height: 100px; line-height: 60px; font-size: 23px; 
			font-weight: bold; text-align: center; 
			background-color: #6697f2; color: white;}
			
#aside ul {width:100%; }

#aside ul>li {margin: 0px 0px 10px 0px; padding: 8px 0px 8px 10px; 
			text-align: center; font-size: 15px; list-style:none; 
			padding-left:0px; }

/* 메뉴 링크 밑줄 제거 */
#aside a {text-decoration-line : none;}

