@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 컨텐츠 영역 정렬 마진 */
.ticketingDetail {
	margin: 40px 0px 0px 50px;
}

.rezInvoice {
	margin:10px 0px 10px 0px;
}

/* 예매정보 상세 테이블 정의 */

/* 섹션 제목 */
.ticketingDetail h4 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0px 20px 0px;
}

/* 티켓 제목 */
.ticketingDetail h5 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	padding: 50px 0px 0px 0px;
	text-align: center;
}

/* 예매번호 */
.ticketingDetail h6 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	padding: 10px 0px 5px 0px;
	text-align: left;
}

.ticketingDetail table {
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 20px 0px 30px 0px;
	text-align: center;
}

.ticketingDetail table>tbody>tr>th {
	font-size: 16px;
	background-color: #f8f8f8;
	height: 50px;
	text-align: center;
}

.ticketingDetail table>tbody>tr>td {
	font-size: 14px;
	background-color: #ffffff;
	height: 50px;
	padding: 0px 0px 0px 10px;
}

.noticeCancelRegulations {
	padding: 10px 0px 10px 10px;
	font-size: 12px;
	text-align: left;
	background-color: #fcfcfc;
}

.btncancel {
	float: center;
	text-align: center;
}

/* 예매내역 및 취소 예매좌석 */
.rezSeatList {
	margin:10px 0px 10px 0px;
	text-align: center;
}

.rezSeatList table>thead>tr>th {
	padding: 20px 0px 20px 0px;
	text-align: center;	
	font-size: 15px;
	background-color: #f8f8f8;
}

.rezSeatList table>tbody>tr>td {
	text-align: center;	
}

.rezSeatList btn:hover{
	background-color : #6697f2;	
	color : #6697f2;
}

/*예매 상태 - 정상예매중 취소됨*/
.rezStatusOn {
	color: #6697f2;
	font-weight: bold;
} 

.rezStatusOff {
	color: #D73201;
}

.rezGrade {
	font-weight: bold;
}


/* 수수료 안내 2000원 */
.noticePee {
	margin: 0px 0px 20px 5px;
	font-size: 13px;
	text-align: right;
}

/* 취소 정책 알림 */
.cancelRule {
	margin: 10px 0px 0px 10px;
}