@charset "UTF-8";



#user #modifyForm {
	text-align: left;
}


/* 폼태그 라벨 */
#board #modifyForm .form-group .form-text {
    display: inline-block;  /* 인라인 요소 가로폭을 주려고 */
    width: 60px;
    text-align: left;
    margin-right: 0px;
}

/* 작성자, 조회수, 작성일 */
#board #modifyForm .form-group .form-value {
    font-weight: bold;
}


/* 폼태그(제목) */
#board #modifyForm .form-group #txt-title {
    width: 749px;
}

/* 폼태그(내용) */
#board #modifyForm .form-group #txt-content {
    width: 816px;
    height: 400px;
}


/* 수정 버튼 */
#board #modifyForm #btn_modify {
	border: 1px solid #A6A6A6;
	border-radius: 2px;
	background-color: #E5E5E5;
	padding: 5px 20px 5px 20px;
	margin: 0px 0px 0px 10px;
	font-size: 14px;
	float: right;
	cursor: pointer;
	
}

/* 취소 버튼 */
#board #modifyForm #btn_cancel {
	border: 1px solid #A6A6A6;
	border-radius: 2px;
	background-color: #E5E5E5;
	padding: 5px 20px 5px 20px;
	margin: 0px 0px 0px 10px;
	font-size: 14px;
	float: right;
	cursor: pointer;
}


/* 폼태그(제목) */
#board #modifyForm .form-group #txt-title {
    width: 749px;
}

/* 취소 버튼 */
#board #modifyForm #btn_cancel {
	border: 1px solid #A6A6A6;
	border-radius: 2px;
	background-color: #E5E5E5;
	padding: 5px 20px 5px 20px;
	margin: 0px 0px 0px 10px;
	font-size: 14px;
	float: right;
	cursor: pointer;
}


