@charset "UTF-8";

/* 레이아웃 */
#wrap {margin: 0px auto; background-color: #FFFFFF; }

/* 메인컨텐츠(content) */
#content-head {margin: 50px 0px 30px 50px; border-bottom: 2px solid #6697f2; }
#content-head h3 {float: left; height: 30px; line-height: 30px; margin: 15px 0px 5px 0px; font-size: 20px; font-weight: bold; }
#content-head #location {float: right; margin: 25px 0px 0px 12px; font-size: 13px; }
#content-head #location ul>li {float: left; list-style:none; padding-left:0px;}
#content-head #location ul>li:after {content: ">"; margin: 0px 5px 0px 5px;}
#content-head #location ul>li.last:after {content: none; }

/* 폼 관련 */
.input[type="text"]{height: 25px; font-size:12px;}
.input[type="password"]{height: 25px; font-size:12px;}
.textarea{font-size:12px;}


/* font *(기본값 12px) */
.bold {font-weight: bold; }
.text-xlarge {font-size: 18px; }
.text-large {font-size: 15px; }
.text-small {font-size: 10px; }

.text-right {text-align: right !important;}
.text-left {text-align: left !important;}
.text-center {text-align: center !important;}


/* 위치 */
.float-r {float: right; }
.float-l {float: left; }
.clear{clear: both; }



/* 게시판 */
#board table {
    width: 100%;
    border-collapse: collapse; 
}

/* 폼요소 그룹 */
#board .form-group {
    padding: 5px 0px 5px 0px;
}

/* 게시판 board 레이아웃 table */
#board #list {
	margin: 0px 0px 0px 50px;
}

#board #list table>thead>tr {
	border-top: 2px solid #808080; 
    border-bottom: 2px solid #808080;
    background-color: #DDDDDD; 

}

#board #list table>thead>tr>th {
    padding: 10px 0px 10px 0px;
    font-weight: bold; 
	text-align:center;
	font-size:14px;
}

#board #list table>tbody>tr { 
    border-bottom: 1px solid #808080;
}

#board #list table>tbody>tr:hover { 
	background-color: #b7cef9; 
}

#board #list table>tbody>tr>td {
    padding: 10px 0px 10px 0px;
	text-align:center;
	font-size:13px;
}

/* 검색버튼 */
#board #list #btn_search {
	padding: 3px 10px 3px 10px;
}

/* 게시판 페이징 */
#board #list #paging {
	margin: 0px auto;
	width: 310px;	
}

/* 페이징 블릿마크 제거 */
#board #list #paging ul {margin: 10px 5px 10px 5px;}
#board #list #paging ul>li{
	float: left;
	margin: 0px 8px 0px 8px;
	list-style:none; padding-left:0px;
}

/* 페이징 버튼 밑줄 제거 */ 
#board #list #paging a {text-decoration-line : none;}


#board #list #paging ul>li.active{
	font-size: 14px;
	font-weight: bold;
}

/* 검색버튼 */
.searchBox {
	margin : 20px 0px 0px 0px;
	
}

.formSearchBoard {
	width: 130px;
	margin-bottom: 10px;
	float: right;
}

.formSearchBoardButton {
	width: 100px;
	height: 25px;
	float: right;
}







