@charset "UTF-8";

/* 레이아웃 */
#wrap {margin: 0px auto; background-color: #FFFFFF; }
#aside {float: left; margin: 20px 0px 0px 0px; background-color: #FFFFFF; }
#content {float: left; margin: 10px 0px 0px 0px; background-color: #FFFFFF; }
#nav {background-color: #FFFFFF; border-bottom: 1px solid #A6A6A6; }

/* 왼쪽메뉴(aside) */
#aside h2 {width: 160px; height: 60px; line-height: 60px; font-size: 20px; font-weight: bold; background-color: #DDDDDD; }
#aside ul {width: 160px;}
#aside ul>li {margin: 5px 0px 0px 0px; padding: 8px 0px 8px 10px; font-size: 15px; text-align: left; border: 1px solid #A6A6A6; }

/* 메인컨텐츠(content) */
#content-head {margin: 0px 0px 14px 0px; border-bottom: 1px solid #A6A6A6; }
#content-head h3 {float: left; height: 30px; line-height: 30px; margin: 15px 0px 5px 0px; font-size: 20px; font-weight: bold; }
#content-head #location {float: right; margin: 25px 0px 0px 12px; font-size: 13px; }
#content-head #location ul>li {float: left; }
#content-head #location ul>li:after {content: ">"; margin: 0px 5px 0px 5px;}
#content-head #location ul>li.last:after {content: none; }


/* 폼 관련 */
input[type="text"]{height: 25px; font-size:12px; font-family: "맑은 고딕", 돋움, 굴림;}
input[type="password"]{height: 25px; font-size:12px; font-family: "맑은 고딕", 돋움, 굴림;}
textarea{font-family: "맑은 고딕", 돋움, 굴림;}


/* font *(기본값 12px) */
.bold {font-weight: bold; }
.text-xlarge {font-size: 18px; }
.text-large {font-size: 15px; }
.text-small {font-size: 10px; }

.text-right {text-align: right !important;}
.text-left {text-align: left !important;}
.text-center {text-align: center !important;}


/* 위치 */
.float-r {float: right; }
.float-l {float: left; }
.clear{clear: both; }



